/* 編寫順序
 *
 * - 色彩
 * - 文字
 * - Header、Footer 設定
 * - Breakpoints
 */

/*----------------------------------------------------------
	Theme Color 主/輔 顏色
-----------------------------------------------------------*/
// 主色
$color-primary: darken(#1d73c8, 20%);

// 輔色 1
$color-sec: #c0deec;

// 輔色 2
$color-trd: #dee9ee;

// 黑
$color-black: #333333;

// 灰
$color-gray-dark:#666666;
$color-gray:#999999;
$color-gray-light:#cccccc;

// 橘
$color-orange: #ff6600;

/*----------------------------------------------------------
	文字顏色
-----------------------------------------------------------*/
$color-font: #666666;

/*----------------------------------------------------------
	錯誤顏色
-----------------------------------------------------------*/
$color-danger: #ff5970;

/*----------------------------------------------------------
	提示顏色
-----------------------------------------------------------*/
$color-tips-text: #b3afac;
$color-tips-bg: #fff;

/*----------------------------------------------------------
	Money 貨幣顏色
-----------------------------------------------------------*/
$color-money: #ff6600;

/*----------------------------------------------------------
	背景色
-----------------------------------------------------------*/
// body 背景
$color-bg: #fafafa;

// 區塊底色
$color-wrap-bg: #fff;

// 區塊影子
$shadow-wrap: 0 5px 10px rgba(0, 0, 0, .13);

/*----------------------------------------------------------
	側選單
-----------------------------------------------------------*/
// 側選單底色
$color-menu-bg: #fff;

// 側選單第二層底色
$color-menu-sec-bg: $color-sec;

// 側選單第三層底色
$color-menu-trd-bg: $color-trd;


/*----------------------------------------------------------
	分隔線
-----------------------------------------------------------*/
$color-hr: #ccc;


/*----------------------------------------------------------
	遮罩
-----------------------------------------------------------*/
$color-mask: rgba(0, 0, 0, .3);


/*----------------------------------------------------------
	表格
-----------------------------------------------------------*/
// 表格底色
$color-table-bg: #fff;

// 表格標題顏色
$color-table-header-bg: #fff;

// 表格隔列顏色
$color-table-odd-bg: #fff;

// 表格TR滑入顏色
$color-table-hover-bg: #fff;

/*----------------------------------------------------------
	表單
-----------------------------------------------------------*/
// INPUT提示字顏色
$color-placeholder: #6c757d;

// 表單元件的border色
$color-input-border: #ced4da;

// input 輸入字顏色
$color-input-text: #333;

// input readonly的顏色
$color-input-readonly: #e9ecef;

// input title的顏色
$color-input-title: #666;

// checkbox、radio勾的icon顏色 (未勾)
$color-checkbox-unchecked: #fff;

// checkbox、radio背景色 (未勾)
$color-checkbox-unchecked-bg: #ccc;

// checkbox、radio勾的icon顏色 (已勾)
$color-checkbox-checked: $color-black;

// checkbox、radio背景色 (已勾)
$color-checkbox-checked-bg: $color-primary;

// Checkbox Border (未勾)
$border-checkbox-unchecked: none;

// Checkbox Border (已勾)
$border-checkbox-checked: none;

// Radio Border (未勾)
$border-radio-unchecked: none;

// Radio Border (已勾)
$border-radio-checked: none;


// Checkbox Icon (未勾)
@mixin icon-checkbox-unchecked {}

// Checkbox Icon (已勾)
@mixin icon-checkbox-checked {}

// Radio Icon (未勾)
@mixin icon-radio-unchecked {}

// Radio Icon (已勾)
@mixin icon-radio-checked {}

/***********************************************************
	Font 文字
***********************************************************/
$ff-note: Arial,
"微軟正黑體",
"Microsoft JhengHei",
sans-serif,
"黑體",
"蘋果儷中黑";


/*----------------------------------------------------------
	預設
-----------------------------------------------------------*/
// 預設
$fz-body:16px;

// 無單位
$general-num: 16;

// 最小字
$fz-mini:12px;


/*----------------------------------------------------------
	標題字
-----------------------------------------------------------*/
// 主標
$fz-title : (24 / $general-num) * 1rem;
$fz-title-en: (24 / $general-num) * 1rem;

// 次標
$fz-subtitle: (24 / $general-num) * 1rem;


/*----------------------------------------------------------
	字體
-----------------------------------------------------------*/
$fz-h1: (22 / $general-num) * 1rem;
$fz-h2: (18 / $general-num) * 1rem;
$fz-h3: (16 / $general-num) * 1rem;
$fz-h4: (14 / $general-num) * 1rem;


/***********************************************************
	Breakpoints
***********************************************************/

$pc-xxl : 1366px;
$pc-xl : 1365.98px;
$pc-lg : 1199.98px;
$pc : 991.98px;
$tablet : 768px;
$mobile-xl : 575.98px;
$mobile-lg : 414px;
$mobile : 375px;
$mobile-xs : 320px;


