@charset "UTF-8";
/* =============================
            SCSS 引入
============================= */
/* =============================
             RESET
============================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: '微軟正黑體', '蘋果儷中黑', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* =============================
          RESET(END)
============================= */
/* 編寫順序
 *
 * - 色彩
 * - 文字
 * - Header、Footer 設定
 * - Breakpoints
 */
/*----------------------------------------------------------
	Theme Color 主/輔 顏色
-----------------------------------------------------------*/
/*----------------------------------------------------------
	文字顏色
-----------------------------------------------------------*/
/*----------------------------------------------------------
	錯誤顏色
-----------------------------------------------------------*/
/*----------------------------------------------------------
	提示顏色
-----------------------------------------------------------*/
/*----------------------------------------------------------
	Money 貨幣顏色
-----------------------------------------------------------*/
/*----------------------------------------------------------
	背景色
-----------------------------------------------------------*/
/*----------------------------------------------------------
	側選單
-----------------------------------------------------------*/
/*----------------------------------------------------------
	分隔線
-----------------------------------------------------------*/
/*----------------------------------------------------------
	遮罩
-----------------------------------------------------------*/
/*----------------------------------------------------------
	表格
-----------------------------------------------------------*/
/*----------------------------------------------------------
	表單
-----------------------------------------------------------*/
/***********************************************************
	Font 文字
***********************************************************/
/*----------------------------------------------------------
	預設
-----------------------------------------------------------*/
/*----------------------------------------------------------
	標題字
-----------------------------------------------------------*/
/*----------------------------------------------------------
	字體
-----------------------------------------------------------*/
/***********************************************************
	Breakpoints
***********************************************************/
/* =============================
           位置、排版
============================= */
/* =============================
         位置、排版(end)
============================= */
/* =============================
          文字、字數限制
============================= */
/* =============================
        文字、字數限制(end)
============================= */
/* =============================
              其他
============================= */
/* =============================
            其他(end)
============================= */
/* =============================
          BASIC STYLE
============================= */
#app {
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
}

#crop_picture_preview {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  width: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), color-stop(100%, #666666), to(#666666));
  background: linear-gradient(#333333 0%, #666666 100%, #666666 100%);
  margin-left: 5px;
  margin-right: 5px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 13px #c0deec;
          box-shadow: 0 0 0 13px #c0deec;
  max-width: 350px;
}

button#crop_picture_select_btn {
  background: #10406f;
  border: 0;
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(175px);
          transform: translateX(175px);
  bottom: 0;
  z-index: 10;
}

@media screen and (max-width: 699px) {
  button#crop_picture_select_btn {
    right: 13%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.crop_picture_title {
  font-size: 20px;
  font-weight: bold;
  color: #10406f;
  margin: 40px 0 10px;
}

.crop_picture_tip {
  color: #666666;
  font-size: 16px;
}

#crop_picture_upload_btn {
  background: #10406f;
  border: 0;
  width: 60%;
  margin: 0 auto;
  line-height: 44px;
  height: 44px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 5px;
}

.crop_picture_wrap {
  position: relative;
}

.text-editor-block ol,
.text-editor-block ul,
.text-editor-block dir,
.text-editor-block menu,
.text-editor-block dd {
  margin-left: 40px;
}

.text-editor-block ol {
  list-style-type: decimal;
}

.text-editor-block ol ul,
.text-editor-block ul ol,
.text-editor-block ol ol,
.text-editor-block ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.text-editor-block ul {
  list-style: disc;
}

.text-editor-block ul ul {
  list-style: circle;
}

.text-editor-block ul ul ul {
  list-style: square;
}

.text-editor-block strong {
  font-weight: bolder;
}

.text-editor-block em,
.text-editor-block var,
.text-editor-block cite {
  font-style: italic;
}

.text-editor-block .marker {
  background: yellow;
}

.text-editor-block big {
  font-size: larger;
}

.text-editor-block small {
  font-size: smaller;
}

.text-editor-block tt,
.text-editor-block code,
.text-editor-block kbd {
  font-family: monospace;
}

.text-editor-block del {
  text-decoration: line-through;
}

.text-editor-block ins {
  text-decoration: underline;
}

.text-editor-block q {
  display: inline;
}

.text-editor-block q::before {
  content: '"';
}

.text-editor-block q::after {
  content: '"';
}

.text-editor-block h1,
.text-editor-block h2,
.text-editor-block h3,
.text-editor-block h4,
.text-editor-block h5,
.text-editor-block h6 {
  line-height: 1.2;
}

.text-editor-block h1 {
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-block-end: 0.67em;
}

.text-editor-block h2 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
  margin-block-end: 0.83em;
}

.text-editor-block h3 {
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}

.text-editor-block h4 {
  -webkit-margin-before: 1.33em;
  margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
  margin-block-end: 1.33em;
}

.text-editor-block h5 {
  font-size: 0.83em;
  -webkit-margin-before: 1.67em;
  margin-block-start: 1.67em;
  -webkit-margin-after: 1.67em;
  margin-block-end: 1.67em;
}

.text-editor-block table {
  max-width: 100%;
  width: 100% !important;
}

.text-editor-block blockquote {
  display: block;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 40px;
  margin-inline-start: 40px;
  -webkit-margin-end: 40px;
  margin-inline-end: 40px;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 2px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}

.text-editor-block blockquote p {
  display: block;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
}

.text-editor-block em {
  font-style: italic;
}

.text-editor-block .youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.text-editor-block .youtube iframe,
.text-editor-block .youtube object,
.text-editor-block .youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-editor-block table.freecome-table {
  width: 100% !important;
}

.text-editor-block table.freecome-table td:first-child {
  width: 20%;
  white-space: nowrap;
}

.text-editor-block table.freecome-table td,
.text-editor-block table.freecome-table th {
  padding: 5px;
  border-color: #ccc;
}

/* =============================
        BASIC STYLE(END)
============================= */
/* =============================
              元件
============================= */
/* -------- Navigation style-1 -------- */
.toolbar-roll-bg.nav-1 {
  --x: 0;
}

.toolbar-roll-bg.nav-2 {
  --x: 1;
}

.toolbar-roll-bg.nav-3 {
  --x: 2;
}

.toolbar-roll-bg.nav-4 {
  --x: 3;
}

.toolbar-roll-bg.nav-5 {
  --x: 4;
}

.ios .toolbar-roll-wrap,
.md .toolbar-roll-wrap {
  height: 60px;
  background: transparent;
}

.ios .toolbar-roll-wrap::before, .ios .toolbar-roll-wrap::after,
.md .toolbar-roll-wrap::before,
.md .toolbar-roll-wrap::after {
  display: none;
}

.ios .toolbar-roll-wrap input[name="choice"],
.md .toolbar-roll-wrap input[name="choice"] {
  opacity: 0;
}

.ios .toolbar-roll-wrap .link,
.md .toolbar-roll-wrap .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 60px;
  line-height: 60px;
}

.ios .toolbar-roll-wrap .link .fa,
.md .toolbar-roll-wrap .link .fa {
  font-size: 20px;
  color: #10406f;
}

.ios .toolbar-roll-wrap .toolbar-roll-title,
.md .toolbar-roll-wrap .toolbar-roll-title {
  font-size: 12px;
  line-height: 12px;
  color: #10406f;
}

.ios .toolbar-roll-wrap .toolbar-inner,
.md .toolbar-roll-wrap .toolbar-inner {
  padding: 0;
}

.toolbar-roll-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(calc(var(--x) * 20%));
  transform: translateX(calc(var(--x) * 20%));
  -webkit-transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.toolbar-roll-bg > .toolbar-roll-cutout {
  width: 48px;
  height: 36.5px;
  margin-left: calc((20% - 48px) / 2);
  left: calc((20% - 44px) / 2);
  z-index: 3;
  border-radius: 50%;
  -webkit-box-shadow: 22px 22px 0 #10406f, -22px 22px 0 #10406f, 0 44px 0 #10406f;
          box-shadow: 22px 22px 0 #10406f, -22px 22px 0 #10406f, 0 44px 0 #10406f;
}

.toolbar-roll-bg > .toolbar-roll-cutout:before, .toolbar-roll-bg > .toolbar-roll-cutout:after {
  content: '';
  position: absolute;
  width: 400%;
  height: 60px;
  border-top: 2px solid #10406f;
  background-color: #10406f;
  background: #10406f;
  -webkit-transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

.toolbar-roll-bg > .toolbar-roll-cutout:before {
  right: 97.5%;
  border-top-right-radius: 1vh;
}

.toolbar-roll-bg > .toolbar-roll-cutout:after {
  left: 17.5%;
  border-top-left-radius: 1vh;
}

@media screen and (min-width: 1366px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 91.7%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 11.8%;
  }
}

@media screen and (max-width: 1365.98px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 91.7%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 11.8%;
  }
}

@media screen and (max-width: 1199.98px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 92%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 12%;
  }
}

@media screen and (max-width: 1024px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 92.4%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 12.3%;
  }
}

@media screen and (max-width: 991.98px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 92.4%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 12.4%;
  }
}

@media screen and (max-width: 768px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 93.1%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 13.2%;
  }
}

@media screen and (max-width: 575.98px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 94.1%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 14.3%;
  }
}

@media screen and (max-width: 414px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 95.9%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 15.8%;
  }
}

@media screen and (max-width: 375px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 96.4%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 16.6%;
  }
}

@media screen and (max-width: 320px) {
  .toolbar-roll-bg > .toolbar-roll-cutout::before {
    right: 97.5%;
  }
  .toolbar-roll-bg > .toolbar-roll-cutout::after {
    left: 17.5%;
  }
}

.toolbar-roll-bg .toolbar-roll-dot {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #10406f;
  border-top: 2px solid #10406f;
  position: absolute;
  left: calc((20% - 44px) / 2);
  top: -10px;
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toolbar-roll-label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  z-index: 2;
  top: 20%;
  font-size: 30px / 2.5;
}

.toolbar-roll-label .fa {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.toolbar-roll-label.active .fa {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

/* -------- Navigation style-1(end) -------- */
/* -------- Navigation style-2 -------- */
.ios .toolbar-wave-wrap.toolbar,
.md .toolbar-wave-wrap.toolbar {
  height: 80px;
  background: transparent;
}

.ios .toolbar-wave-wrap.toolbar::before, .ios .toolbar-wave-wrap.toolbar::after,
.md .toolbar-wave-wrap.toolbar::before,
.md .toolbar-wave-wrap.toolbar::after {
  display: none;
}

.ios .toolbar-wave-wrap.toolbar input[name="choice"],
.md .toolbar-wave-wrap.toolbar input[name="choice"] {
  opacity: 0;
}

.ios .toolbar-wave-wrap.toolbar a.link,
.md .toolbar-wave-wrap.toolbar a.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 40px;
  line-height: 40px;
}

.ios .toolbar-wave-wrap.toolbar a.link .fa,
.md .toolbar-wave-wrap.toolbar a.link .fa {
  font-size: 20px;
  color: #fff;
}

.ios .toolbar-wave-wrap.toolbar .toolbar-wave-title,
.md .toolbar-wave-wrap.toolbar .toolbar-wave-title {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  position: relative;
  z-index: 1;
}

.ios .toolbar-wave-wrap.toolbar .toolbar-inner,
.md .toolbar-wave-wrap.toolbar .toolbar-inner {
  padding: 0;
}

.toolbar-wave-bg {
  width: 100%;
  height: 52px;
  margin-bottom: 0;
  position: relative;
  top: -51.5px;
  overflow: hidden;
}

.toolbar-wave-bg #wave {
  position: absolute;
  bottom: 0;
  width: calc(100% / 5);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.toolbar-wave-bg #wave .path {
  fill: #2f3542;
}

.toolbar-wave-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  background: #2f3542;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
}

.toolbar-wave-inner .toolbar-wave-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.toolbar-wave-inner .toolbar-wave-item i {
  position: relative;
  font-size: 1.5em;
  color: #a4b0be;
  z-index: 5;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.toolbar-wave-inner .toolbar-wave-item::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  background: green;
  border-radius: 50%;
  z-index: 0;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.toolbar-wave-inner .toolbar-wave-item.active {
  margin-top: -10px;
}

.toolbar-wave-inner .toolbar-wave-item.active i {
  color: #2f3542;
}

.toolbar-wave-inner .toolbar-wave-item.active::before {
  width: 70px;
  height: 70px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.toolbar-wave-inner .toolbar-wave-item:nth-child(1)::before {
  background: #10406f;
}

.toolbar-wave-inner .toolbar-wave-item:nth-child(2)::before {
  background: #dee9ee;
}

.toolbar-wave-inner .toolbar-wave-item:nth-child(3)::before {
  background: #c0deec;
}

.toolbar-wave-inner .toolbar-wave-item:nth-child(4)::before {
  background: #fafafa;
}

.toolbar-wave-inner .toolbar-wave-item:nth-child(5)::before {
  background: #fafafa;
}

@media screen and (max-width: 320px) {
  .toolbar-wave-inner .toolbar-wave-item.active::before {
    width: 64px;
    height: 64px;
  }
}

.md .toolbar-wave-wrap .toolbar-wave-inner .toolbar-wave-item::before {
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  background-image: none;
  opacity: 1;
}

.md .toolbar-wave-wrap .toolbar-wave-inner .toolbar-wave-item.active::before {
  width: 70px;
  height: 70px;
}

/* -------- Navigation style-2(end) -------- */
/* =============================
            元件(END)
============================= */
/* =============================
             共用
============================= */
.ios a,
.md a {
  color: #10406f;
}

.ios img,
.md img {
  max-width: 100%;
}

.ios .d-none,
.md .d-none {
  display: none;
}

.ios label.item-radio input[type=radio]:checked ~ .icon-radio,
.md label.item-radio input[type=radio]:checked ~ .icon-radio {
  border-color: #10406f;
}

.ios label.item-radio input[type=radio]:checked ~ .icon-radio::after,
.md label.item-radio input[type=radio]:checked ~ .icon-radio::after {
  background-color: #10406f;
}

.ios .toolbar a.link,
.md .toolbar a.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  height: 44px;
  padding: 0;
  line-height: 44px;
  width: 100%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  z-index: 20;
}

.ios .toolbar .nav-title,
.md .toolbar .nav-title {
  font-size: 12px;
  line-height: 12px;
}

.ios .toolbar i,
.md .toolbar i {
  font-size: 20px;
}

.ios .navbar::after,
.md .navbar::after {
  display: none;
}

.ios .navbar,
.md .navbar {
  background: transparent;
}

.ios .navbar a,
.md .navbar a {
  width: 44px;
}

.ios .navbar-inner,
.md .navbar-inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.ios .navbar-inner .left,
.md .navbar-inner .left {
  margin-right: 10px;
  color: #fff;
}

.ios .navbar-inner .left .fa,
.ios .navbar-inner .left .icon,
.md .navbar-inner .left .fa,
.md .navbar-inner .left .icon {
  font-size: 30px;
  color: #fff;
}

.ios .navbar-inner .title,
.md .navbar-inner .title {
  text-align: center;
  color: #fff;
}

.ios .navbar-inner .right,
.md .navbar-inner .right {
  margin-left: 0;
  text-align: center;
}

.ios .popup-crop_picture .navbar-inner .left .fa,
.ios .popup-crop_picture .navbar-inner .left,
.ios .popup-crop_picture .navbar-inner .right,
.ios .popup-crop_picture .navbar-inner .title,
.md .popup-crop_picture .navbar-inner .left .fa,
.md .popup-crop_picture .navbar-inner .left,
.md .popup-crop_picture .navbar-inner .right,
.md .popup-crop_picture .navbar-inner .title {
  color: #10406f;
}

.ios .subnavbar,
.md .subnavbar {
  background: #10406f;
}

.ios .subnavbar::before,
.md .subnavbar::before {
  display: none;
}

.ios .subnavbar a.tab-link,
.md .subnavbar a.tab-link {
  padding: 0 20px;
  margin-right: 5px;
  border: none;
  border-radius: 22px;
  background: #fafafa;
  color: #fff;
}

.ios .subnavbar a.tab-link.button:not(.button-fill):not(.button-fill-md),
.md .subnavbar a.tab-link.button:not(.button-fill):not(.button-fill-md) {
  color: #fff;
}

.ios .subnavbar a.tab-link-active,
.md .subnavbar a.tab-link-active {
  background: #c0deec;
  color: #fff;
}

.ios .subnavbar-inner,
.md .subnavbar-inner {
  padding: 5px 8px;
}

.ios .picker .right a.link,
.md .picker .right a.link {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ios .picker-columns,
.md .picker-columns {
  -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, #fff 20%, #fff 80%, transparent 95%, transparent);
}

.ios .swiper-slide,
.md .swiper-slide {
  width: auto;
}

.ios .list,
.md .list {
  margin: 0;
}

.ios .list input[type="number"],
.ios .list input[type="text"],
.ios .list input[type="email"],
.ios .list input[type="tel"],
.ios .list input[type="password"],
.ios .list input[type="search"],
.ios .list input[type="url"],
.ios .list input[type="time"],
.ios .list input[type="date"],
.ios .list textarea,
.md .list input[type="number"],
.md .list input[type="text"],
.md .list input[type="email"],
.md .list input[type="tel"],
.md .list input[type="password"],
.md .list input[type="search"],
.md .list input[type="url"],
.md .list input[type="time"],
.md .list input[type="date"],
.md .list textarea {
  color: #333333;
}

.ios .list input[type="checkbox"]:checked ~ i,
.ios .list .item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox,
.md .list input[type="checkbox"]:checked ~ i,
.md .list .item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox {
  background: #10406f;
}

.ios .list .item-text,
.md .list .item-text {
  font-size: 12px;
}

.ios .m-news-list li,
.md .m-news-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ios .m-news-list .item-title,
.md .m-news-list .item-title {
  color: #666666;
}

.ios .m-news-list .item-subtitle,
.md .m-news-list .item-subtitle {
  color: #999999;
}

.ios .m-businesscard-block,
.md .m-businesscard-block {
  padding: 7% 0 13% 0;
  background: #10406f;
}

.ios .m-businesscard-block .swiper-wrapper,
.md .m-businesscard-block .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.ios .m-businesscard-block .swiper-slide,
.md .m-businesscard-block .swiper-slide {
  max-width: 1080px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 97, 196, 0.3);
          box-shadow: 0px 10px 20px 0px rgba(0, 97, 196, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.ios .m-businesscard-block .swiper-slide.swiper-slide-next, .ios .m-businesscard-block .swiper-slide.swiper-slide-prev,
.md .m-businesscard-block .swiper-slide.swiper-slide-next,
.md .m-businesscard-block .swiper-slide.swiper-slide-prev {
  width: 75%;
  height: 0;
  padding-bottom: 45.832%;
  overflow: hidden;
}

.ios .m-businesscard-block .swiper-slide.swiper-slide-active,
.md .m-businesscard-block .swiper-slide.swiper-slide-active {
  width: 84.375%;
  height: 0;
  padding-bottom: 51.565%;
  overflow: hidden;
}

.ios .m-businesscard,
.md .m-businesscard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ios .m-businesscard img,
.md .m-businesscard img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ios .fab-buttons-bottom,
.ios .fab-buttons-top,
.md .fab-buttons-bottom,
.md .fab-buttons-top {
  width: 50px;
  margin-left: -25px;
}

.ios .fab > a,
.ios .fab-buttons a,
.md .fab > a,
.md .fab-buttons a {
  background: #10406f;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(16, 64, 111, 0.3);
          box-shadow: 0px 10px 20px 2px rgba(16, 64, 111, 0.3);
}

.ios .fab > a i.icon,
.ios .fab-buttons a i.icon,
.md .fab > a i.icon,
.md .fab-buttons a i.icon {
  font-size: 29px;
}

.ios .fab > a.active-state,
.ios .fab-buttons a.active-state,
.md .fab > a.active-state,
.md .fab-buttons a.active-state {
  background: #10406f;
}

.ios .fab div.fab-buttons a,
.ios .fab-label-button a,
.md .fab div.fab-buttons a,
.md .fab-label-button a {
  width: 50px;
  height: 50px;
  background: #fafafa;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ios .fab div.fab-buttons a .fa,
.ios .fab-label-button a .fa,
.md .fab div.fab-buttons a .fa,
.md .fab-label-button a .fa {
  font-size: 29px;
}

.ios .fab-label,
.md .fab-label {
  background: #fafafa;
  color: #fff;
  border-radius: 20px;
}

.ios .fab[class*='-bottom'],
.md .fab[class*='-bottom'] {
  bottom: 0;
}

.ios .fab-bottom-bottom,
.md .fab-bottom-bottom {
  width: 100%;
  padding: 10px;
  background: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ios .m-modal,
.md .m-modal {
  margin: 0;
}

.ios .m-modal button,
.md .m-modal button {
  width: auto;
  padding: 0;
  border: none;
  background: transparent;
}

.ios .m-modal-component,
.md .m-modal-component {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
  right: 15px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}

.ios .m-modal-header,
.md .m-modal-header {
  position: relative;
}

.ios .m-modal-title,
.md .m-modal-title {
  margin: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: #666666;
}

.ios .btn-delete,
.md .btn-delete {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.ios .btn-delete .fa,
.md .btn-delete .fa {
  font-size: 29px;
  color: #999999;
}

.ios .m-modal-body,
.md .m-modal-body {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  overflow-y: scroll;
}

.ios .m-media-list,
.md .m-media-list {
  margin: 0;
}

.ios .m-media-list input[type="text"],
.md .m-media-list input[type="text"] {
  font-size: 1rem;
  color: #c0deec;
}

.ios .m-media-list ul,
.md .m-media-list ul {
  height: 60vh;
  padding: 0 10px;
}

.ios .m-media-list ul::before, .ios .m-media-list ul::after,
.md .m-media-list ul::before,
.md .m-media-list ul::after {
  display: none;
}

.ios .m-media-list .item-inner,
.md .m-media-list .item-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 9px;
}

.ios .m-media-list .item-inner::after,
.md .m-media-list .item-inner::after {
  display: none;
}

.ios .m-list-item,
.md .m-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #EEEEEE;
}

.ios .m-item-content,
.md .m-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 0;
}

.ios .m-item-title,
.md .m-item-title {
  font-size: 14px;
  font-weight: 600;
  color: #10406f;
}

.ios .m-btn-group .button,
.md .m-btn-group .button {
  width: calc(100% / 3);
  height: 50px;
  color: #fff;
}

.ios .m-btn-group .button:first-child,
.md .m-btn-group .button:first-child {
  border: none;
  border-radius: 0;
  background: #10406f;
}

.ios .m-btn-group .button:nth-child(2),
.md .m-btn-group .button:nth-child(2) {
  border: none;
  border-radius: 0;
  background: #c0deec;
}

.ios .m-btn-group .button:last-child,
.md .m-btn-group .button:last-child {
  border: none;
  border-radius: 0;
  background: #fafafa;
}

.ios.device-iphone-x .fab[class*="-bottom"] {
  bottom: 0;
}

.md .toolbar-hidden {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.md .tabbar .tab-link-highlight {
  display: none;
}

.md label.item-checkbox input[type=checkbox]:checked ~ .icon-checkbox {
  border-color: #10406f;
}

.md .icon-checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid #c7c7cc;
  border-radius: 50%;
}

.md .icon-checkbox::after {
  width: 22px;
  height: 22px;
  left: -1px;
  top: -1px;
}

.md .toggle-icon {
  width: 48px;
  height: 28px;
  background: #e5e5e5;
}

.md .toggle-icon::after {
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 0;
}

.md .range-knob {
  background: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.md .toggle input[type=checkbox]:checked + .toggle-icon:after {
  background: #fff;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.md .list .item-title {
  overflow: visible;
}

.d-none {
  display: none;
}

.form-style .form-item {
  display: block;
  margin-bottom: 10px;
}

.form-style .form-title {
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: left;
  color: #999999;
}

.form-style .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-style .form-control,
.form-style .form-select {
  width: 100%;
  height: 44px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #333333;
}

.help-block {
  font-size: 12px;
  color: #ff5970;
}

@media (min-height: 630px) and (min-width: 630px) {
  .popup:not(.popup-tablet-fullscreen) {
    height: 670px;
  }
}

/* =============================
            共用(END)
============================= */
/* =============================
            DARK 模式
============================= */
.framework7-root .dark {
  color: #fff;
}

.framework7-root .dark .list ul {
  background: rgba(0, 0, 0, 0.42);
  color: #fff;
}

.framework7-root .dark .block-title {
  color: rgba(255, 255, 255, 0.5);
}

/* =============================
            DARK 模式(END)
============================= */
/* =============================
            問卷內頁
============================= */
.ios .p-question-detailed .item-input-wrap,
.md .p-question-detailed .item-input-wrap {
  margin-top: 0;
}

.ios .p-question-detailed .item-title,
.md .p-question-detailed .item-title {
  vertical-align: middle;
}

.ios .p-question-detailed .radio-group ul,
.ios .p-question-detailed .checkbox-group ul,
.md .p-question-detailed .radio-group ul,
.md .p-question-detailed .checkbox-group ul {
  padding-left: 0;
}

.ios .p-question-detailed .radio-group .item-radio .icon-radio,
.md .p-question-detailed .radio-group .item-radio .icon-radio {
  margin-top: 0;
  margin-right: 15px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  position: relative;
  top: initial;
  right: initial;
}

.ios .p-question-detailed .radio-group .item-radio input[type='radio']:checked ~ .icon-radio,
.md .p-question-detailed .radio-group .item-radio input[type='radio']:checked ~ .icon-radio {
  background-image: none;
}

.ios .p-question-detailed .radio-group .item-radio input[type='radio']:checked ~ .icon-radio::after,
.md .p-question-detailed .radio-group .item-radio input[type='radio']:checked ~ .icon-radio::after {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #10406f;
}

.ios .p-question-detailed .ranger-slider-group .item-cell:not(:nth-child(2)),
.md .p-question-detailed .ranger-slider-group .item-cell:not(:nth-child(2)) {
  max-width: 42px;
  margin: 0;
  text-align: center;
}

.ios .p-question-detailed .ranger-slider-group .item-cell:nth-child(2),
.md .p-question-detailed .ranger-slider-group .item-cell:nth-child(2) {
  width: calc(100% - (42px * 2));
  margin: 0;
}

.ios .p-question-detailed .icon-radio:after,
.md .p-question-detailed .icon-radio:after {
  margin-left: 0;
  margin-top: 0;
}

.ios .p-question-detailed .range-bar,
.md .p-question-detailed .range-bar {
  height: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ios .p-question-detailed .range-bar-active,
.md .p-question-detailed .range-bar-active {
  border-radius: 2px;
  background: #10406f;
}

.ios .navbar-inner .left .fa,
.ios .navbar-inner .left .icon,
.md .navbar-inner .left .fa,
.md .navbar-inner .left .icon,
.ios .navbar-inner .title,
.md .navbar-inner .title {
  color: #26539c;
}

.p-question-detailed .block > .list ul {
  padding: 15px 10px;
}

.p-question-detailed .item-input-wrap {
  padding-bottom: 10px;
}

.p-question-detailed .item-input-wrap.checkbox-group {
  margin-bottom: -10px;
}

.p-question-detailed input,
.p-question-detailed select,
.p-question-detailed .radio-group {
  margin-bottom: -10px;
}

.p-question-detailed .radio-group .item-radio,
.p-question-detailed .checkbox-group .item-radio {
  padding-left: 0;
}

.p-question-detailed .radio-group .item-radio-other .input-other,
.p-question-detailed .radio-group .item-checkbox-other .input-other,
.p-question-detailed .checkbox-group .item-radio-other .input-other,
.p-question-detailed .checkbox-group .item-checkbox-other .input-other {
  display: none;
  border-bottom: 1px solid #c8c7cc;
}

.p-question-detailed .radio-group .item-radio-other > input:checked ~ .item-inner .input-other,
.p-question-detailed .radio-group .item-checkbox-other > input:checked ~ .item-inner .input-other,
.p-question-detailed .checkbox-group .item-radio-other > input:checked ~ .item-inner .input-other,
.p-question-detailed .checkbox-group .item-checkbox-other > input:checked ~ .item-inner .input-other {
  display: block;
}

.p-question-detailed .checkbox-group .item-checkbox {
  padding-left: 0;
}

.p-question-detailed .question_checkbox .question_tip {
  display: inline-block;
  font-size: 12px;
}

.p-question-detailed .ranger-slider-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}

.p-question-detailed .rating-star-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 7px 0;
}

.p-question-detailed .rating-star-group .form-check-input {
  display: none;
}

.p-question-detailed .rating-star-group .fa-star-o,
.p-question-detailed .rating-star-group .fa-star {
  font-size: 30px;
}

.p-question-detailed .rating-star-group .fa-star {
  color: #10406f;
}

.p-question-detailed .fab-bottom-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-question-detailed .fab-bottom-bottom .btn-solid {
  width: calc(100% / 2 - 10px) !important;
}

.p-question-detailed .fab-bottom-bottom .btn-solid.bg-cancel {
  background: #666666;
}

.p-question-detailed .question_number .item-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-question-detailed .question_number .input-clear-button {
  display: none;
}

.p-question-detailed .question_number .ml-2 {
  display: inline-block;
  min-width: 20px;
  margin-bottom: -10px;
  word-break: keep-all;
}

.p-question-detailed .upload-picture {
  width: 100%;
}

.p-question-detailed a.upload_pic_btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#4b9ed2), to(#014994));
  background: linear-gradient(to right, #4b9ed2, #014994);
  color: #fff;
  cursor: pointer;
}

.p-question-detailed .e-head-shot .circle-inner {
  width: 300px;
  height: 300px;
  border: 5px solid #EBC496;
  border-radius: 50%;
  background: #323134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.p-question-detailed .profile-list-img-box {
  width: 80%;
  margin: 40px auto;
  display: block;
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

.p-question-detailed .profile-list-img-box.d-none {
  display: none;
}

.p-question-detailed i.delete-icon.fa.fa-times-circle-o.del_pic_btn {
  position: absolute;
  font-size: 35px;
  right: 0;
}

.p-question-detailed .picture-list, .p-question-detailed .photo-item, .p-question-detailed .photo-block {
  width: 100%;
}

.p-question-detailed .btn-solid {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#4b9ed2), to(#014994));
  background: linear-gradient(to right, #4b9ed2, #014994);
  color: #fff;
  cursor: pointer;
}

.p-question-detailed .photo-item {
  margin-bottom: 10px;
  position: relative;
}

.p-question-detailed .remove-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #10406f;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.p-question-detailed .remove-btn .fa-times {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* =============================
         問卷內頁(END)
============================= */
/* =============================
            多圖上傳
============================= */
.p-upload_picture .page-content {
  padding-bottom: 30px;
}

.p-upload_picture .picture-list {
  padding: 15px 15px 0 15px;
}

.p-upload_picture .add-new-photo {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#4b9ed2), to(#014994));
  background: linear-gradient(to right, #4b9ed2, #014994);
  color: #fff;
  cursor: pointer;
}

.p-upload_picture .photo-item {
  margin-bottom: 10px;
  position: relative;
}

.p-upload_picture .remove-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid #10406f;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.p-upload_picture .remove-btn .fa-times {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* =============================
          多圖上傳(END)
============================= */
/* =============================
            登入頁
============================= */
/* =============================
          登入頁(END)
============================= */
/* =============================
         購物車 - 共用
============================= */
.p-cart .page-content {
  background: #fff;
}

.p-cart .block {
  margin-top: 20px;
}

.p-cart .title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #10406f;
}

.p-cart .input-checkbox {
  line-height: 26px;
}

.p-cart .input-checkbox input {
  display: none;
}

.p-cart .input-checkbox input:checked ~ .input-checkbox-icon .fa-check {
  color: #333333;
}

.p-cart .input-checkbox .input-checkbox-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  vertical-align: bottom;
  position: relative;
}

.p-cart .input-checkbox .fa-check {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.p-cart .input-radio {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.p-cart .input-radio input {
  display: none;
}

.p-cart .input-radio input:checked ~ .input-radio-icon {
  background: #ff5970;
}

.p-cart .input-radio input:checked ~ .input-radio-icon::before {
  background: #fff;
}

.p-cart .input-radio .input-radio-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 50%;
  vertical-align: middle;
  background: #cccccc;
  position: relative;
}

.p-cart .input-radio .input-radio-icon::before {
  content: '';
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #cccccc;
}

.p-cart .cart-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  height: auto;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.p-cart .cart-toolbar::before {
  display: none;
}

.p-cart .cart-toolbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  padding: 0 10px;
  font-size: 1rem;
}

.p-cart .total-price-wrap {
  margin-left: auto;
}

.p-cart .btn-cart-send {
  width: 30%;
  margin-left: auto;
  border: none;
  font-size: 1.125rem;
  background: #10406f;
  color: #fff;
}

.p-cart .total-price {
  color: #ff5970;
}

.p-cart .card-cart-quantity .badge {
  border-radius: 4px;
  background: #ff6600;
  color: #fff;
}

.p-cart .card-cart-quantity .num {
  margin-left: 5px;
  color: #ff6600;
}

/* =============================
      購物車 - 共用(end)
============================= */
/* =============================
         購物車 - 步驟一
============================= */
.p-cart-step-1 .card-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #cccccc;
}

.p-cart-step-1 .card-cart-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  margin-right: 10px;
}

.p-cart-step-1 .card-cart-img {
  margin-left: 10px;
}

.p-cart-step-1 .card-cart-content {
  width: 65%;
  position: relative;
}

.p-cart-step-1 .card-cart-deleted {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.125rem;
  color: #cccccc;
}

.p-cart-step-1 .card-cart-title {
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #666666;
}

.p-cart-step-1 .original-price {
  display: inline-block;
  margin-top: 5px;
  font-size: 1rem;
  color: #999999;
  position: relative;
}

.p-cart-step-1 .original-price::before {
  content: '';
  display: inline-block;
  width: calc(100% + 5px);
  height: 1px;
  background: #999999;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-cart-step-1 .on-sale {
  font-size: 1.125rem;
  color: #ff5970;
}

.p-cart-step-1 .card-cart-stepper {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p-cart-step-1 .stepper .stepper-button-minus,
.p-cart-step-1 .stepper .stepper-button-plus {
  width: 28px;
  border-color: #cccccc;
  background: #fff;
}

.p-cart-step-1 .stepper .stepper-button-minus::before, .p-cart-step-1 .stepper .stepper-button-minus::after,
.p-cart-step-1 .stepper .stepper-button-plus::before,
.p-cart-step-1 .stepper .stepper-button-plus::after {
  background: #10406f;
}

.p-cart-step-1 .stepper .stepper-button-minus::before,
.p-cart-step-1 .stepper .stepper-button-plus::before {
  width: 3px;
}

.p-cart-step-1 .stepper .stepper-button-minus::after,
.p-cart-step-1 .stepper .stepper-button-plus::after {
  height: 3px;
}

.p-cart-step-1 .stepper .stepper-button-minus {
  border-right: none;
}

.p-cart-step-1 .stepper .stepper-input-wrap {
  border-color: #cccccc;
}

.p-cart-step-1 .stepper .stepper-input-wrap input {
  width: 40px;
  color: #10406f;
}

.p-cart-step-1 .stepper .stepper-button-plus {
  border-left: none;
}

.p-cart-step-1 .coin-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.p-cart-step-1 .coin-discount-info {
  width: 100%;
  margin-left: 5px;
  font-size: 1rem;
}

.p-cart-step-1 .coin-discount-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.p-cart-step-1 .coin-discount-input input {
  width: 60px;
  border-bottom: 1px solid #999999;
  text-align: center;
}

.p-cart-step-1 .card-slide {
  margin-bottom: 5px;
  border: 1px solid #cccccc;
}

.p-cart-step-1 .card-slide.open .card-slide-title::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.p-cart-step-1 .card-slide-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}

.p-cart-step-1 .card-slide-title {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #ff5970;
  position: relative;
}

.p-cart-step-1 .card-slide-title::after {
  content: "";
  font-family: 'FontAwesome';
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.p-cart-step-1 .card-slide-body {
  padding: 10px;
  border-top: 1px solid #cccccc;
  display: none;
}

.p-cart-step-1 .card-sldie-tip {
  font-size: 0.875rem;
  color: #ff5970;
}

.p-cart-step-1 .delivery-wrap {
  display: none;
}

.p-cart-step-1 .delivery-wrap.show {
  display: block;
}

.p-cart-step-1 .delivery-method {
  display: none;
}

.p-cart-step-1 .delivery-method.show {
  display: block;
}

.p-cart-step-1 .select-store {
  display: none;
}

.p-cart-step-1 .select-store .form-select {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .p-cart-step-1 .card-cart {
    padding: 8px;
  }
  .p-cart-step-1 .card-cart-left {
    width: 31%;
    margin-right: 8px;
  }
  .p-cart-step-1 .card-cart-img {
    margin-left: 5px;
  }
  .p-cart-step-1 .original-price {
    font-size: 0.875rem;
  }
  .p-cart-step-1 .on-sale {
    font-size: 1rem;
  }
  .p-cart-step-1 .stepper .stepper-button-minus,
  .p-cart-step-1 .stepper .stepper-button-plus {
    width: 26px;
  }
  .p-cart-step-1 .stepper .stepper-input-wrap input {
    width: 30px;
  }
}

/* =============================
      購物車 - 步驟一(end)
============================= */
/* =============================
         購物車 - 步驟二
============================= */
.p-cart-step-2 .card-info {
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid #cccccc;
}

.p-cart-step-2 .card-info-title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: #333333;
}

.p-cart-step-2 .card-info-title .input-checkbox {
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1rem;
  color: #666666;
}

.p-cart-step-2 .card-info-txt {
  line-height: 24px;
  color: #666666;
}

.p-cart-step-2 .recieve-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-cart-step-2 .card-info-left {
  width: 80%;
}

.p-cart-step-2 .card-info-right {
  width: 20%;
  border: none;
  border-left: 1px solid #cccccc;
  font-size: 1rem;
  background: transparent;
  color: #666666;
}

.p-cart-step-2 .product-list-wrap {
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.p-cart-step-2 .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.p-cart-step-2 .product-list:nth-child(even) {
  background: rgba(16, 64, 111, 0.05);
}

.p-cart-step-2 .product-list-img {
  max-width: 20%;
}

.p-cart-step-2 .product-list-info {
  max-width: 35%;
}

.p-cart-step-2 .product-list-name {
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.p-cart-step-2 .product-list-price {
  color: #ff5970;
}

.p-cart-step-2 .card-list-wrap {
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.p-cart-step-2 .card-list:not(:last-child) {
  margin-bottom: 15px;
}

.p-cart-step-2 .card-list-title {
  margin-bottom: 5px;
  font-size: 1.125rem;
  color: #333333;
}

.p-cart-step-2 .card-list-txt {
  font-size: 1rem;
  color: #666666;
}

.p-cart-step-2 .cart-subtitle {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.p-cart-step-2 .form-wrap {
  display: none;
}

.p-cart-step-2 .form-item {
  display: block;
  margin-bottom: 15px;
}

.p-cart-step-2 .form-item input {
  width: 100%;
  min-height: 44px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.p-cart-step-2 .form-item-title {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #666666;
}

.p-cart-step-2 .tip-block {
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(16, 64, 111, 0.1);
}

.p-cart-step-2 .tip-block-title {
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: #333333;
}

.p-cart-step-2 .tip-block-content {
  font-size: 1rem;
  line-height: 26px;
}

.p-cart-step-2 #provison-block {
  display: block;
  text-align: center;
}

.provison-modal .modal-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 600px;
  width: 90%;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}

.provison-modal .modal-header {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.provison-modal .modal-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.provison-modal .btn-delete {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  right: 0;
  top: 0;
  -webkit-transform: none;
          transform: none;
  background: transparent;
}

.provison-modal .modal-body {
  padding: 15px;
}

.provison-modal .modal-body .text-editor-block {
  color: #666666;
}

.provison-modal .btn-confirm {
  min-height: 44px;
  border: none;
  border-radius: 0;
  background: rgba(16, 64, 111, 0.9);
  color: #fff;
}

.edit-receive-modal {
  background: #fff;
}

.edit-receive-modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.edit-receive-modal .modal-header .button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #10406f;
  color: #fff;
}

.edit-receive-modal .modal-header .fa-angle-left {
  font-size: 30px;
  line-height: 40px;
}

.edit-receive-modal .modal-header .fa-plus {
  font-size: 20px;
  line-height: 44px;
}

.edit-receive-modal .modal-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.edit-receive-modal .info-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-receive-modal .info-list .item-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 15px;
}

.edit-receive-modal .info-list .item-txt {
  font-size: 1rem;
  text-align: left;
  color: #666666;
}

.edit-receive-modal .item-delete-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-receive-modal .btn-item-delete {
  border: none;
  background: transparent;
}

.edit-receive-modal .btn-item-delete .fa {
  font-size: 20px;
  color: #333333;
}

.add-receive-address-modal {
  background: #fff;
  overflow-y: auto;
}

.add-receive-address-modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.add-receive-address-modal .modal-header .button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #10406f;
  color: #fff;
}

.add-receive-address-modal .modal-header .fa-angle-left {
  font-size: 30px;
  line-height: 40px;
}

.add-receive-address-modal .modal-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.add-receive-address-modal .form-group-phone .form-select {
  width: 30%;
  margin-right: 10px;
}

.add-receive-address-modal .form-group-address {
  margin-bottom: 10px;
}

.add-receive-address-modal .form-group-address .form-control:not(:last-child), .add-receive-address-modal .form-group-address .form-select:not(:last-child) {
  margin-right: 5px;
}

.add-receive-address-modal .modal-footer {
  padding: 10px 15px 20px 15px;
}

.add-receive-address-modal .btn-outline, .add-receive-address-modal .btn-solid {
  display: block;
  height: 44px;
  line-height: 44px;
  border-color: #10406f;
  border-radius: 5px;
  background: transparent;
}

.add-receive-address-modal .btn-outline {
  margin-bottom: 5px;
  color: #10406f;
}

.add-receive-address-modal .btn-solid {
  background: #10406f;
  color: #fff;
}

/* =============================
        購物車 - 步驟二(end)
============================= */
/*# sourceMappingURL=app.css.map */