/* 編寫順序 v1.0
 *
 * - 模組內建 a - z
 *
 */

/*-------------------------------------------------------------------
	caret 三角形
-------------------------------------------------------------------*/
@mixin caret($direction: right, $size_w: 8px,  $size_h: 8px, $color: #000) {
	$size_w : unquote($size_w);
	$size_h : unquote($size_h);
	// 通用
	width: 0;
	height: 0;
	border-style: solid;

	// 上
	@if $direction == top {

		$top: 0;
		$right: $size_w / 2;
		$bottom: $size_h;
		$left: $size_w / 2;

		// width 的 0 設同方向、 較高值設反方向
		border-width: $top $right $bottom $left;
		// 顏色設定反方向的border
		border-color: transparent transparent $color transparent;

	} @else if $direction == right {
		$top: $size_h / 2;
		$right: 0;
		$bottom: $size_h / 2;
		$left: $size_w ;

		// width 的 0 設同方向、 較高值設反方向
		border-width: $top $right $bottom $left;
		// 顏色設定反方向的border
		border-color: transparent transparent transparent $color;

	} @else if $direction == bottom {

		$top: $size_h;
		$right: $size_w / 2;
		$bottom: 0;
		$left: $size_w / 2;

		// width 的 0 設同方向、 較高值設反方向
		border-width: $top $right $bottom $left;
		// 顏色設定反方向的border
		border-color: $color transparent transparent transparent;

	} @else {
		$top: $size_h / 2;
		$right: $size_w;
		$bottom: $size_h / 2;
		$left: 0;

		// width 的 0 設同方向、 較高值設反方向
		border-width: $top $right $bottom $left;
		// 顏色設定反方向的border
		border-color: transparent $color transparent transparent;

	}
}


/*-------------------------------------------------------------------
	Position
-------------------------------------------------------------------*/
@mixin absolute($top:0,$right:0,$bottom:0,$left:0) {
	position:absolute;
	top:$top;
	right:$right;
	bottom:$bottom;
	left:$left;
}

// 絕對定位置中
@mixin pos-center($translateX: -50%, $translateY: -50%) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate($translateX, $translateY);
}

/*-------------------------------------------------------------------
	Flex
-------------------------------------------------------------------*/
@mixin flex($justify:stretch,$align:stretch){
	display: flex;
	justify-content: $justify;
	align-items: $align;
}


/*-------------------------------------------------------------------
	FA Font Awesome
-------------------------------------------------------------------*/
@mixin fa-icon($content){
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content:$content;
}


/*-------------------------------------------------------------------
	icomoon
-------------------------------------------------------------------*/
@mixin icomoon($content) {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	content:$content;
}


/*-------------------------------------------------------------------
	Key Frame
-------------------------------------------------------------------*/
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
	@content;
	}
	@keyframes #{$animation-name} {
	@content;
	}
}


/*-------------------------------------------------------------------
	文字ellipsis
-------------------------------------------------------------------*/
// 單行文字ellipsis
@mixin text-ellipsis{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 多行文字ellipsis
@mixin text-lines-ellipsis($line-height, $max-lines, $display-type: block) {
	// 設定高度
	height: $line-height * $max-lines;
	max-height: $line-height * $max-lines;
	line-height:  $line-height;
	// 設定ellipsis
	-webkit-line-clamp: $max-lines;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	@if $display-type == inline {
		display: -webkit-inline-box;
	}@else if ( $display-type == block ){
		display: -webkit-box;
	}
	@content;
}


/*-------------------------------------------------------------------
	尺寸調整
-------------------------------------------------------------------*/
// 限制寬和高，已等比方式呈現
@mixin over-hidden($w,$h) {
    @include size($w,0);
    padding-bottom: $h;
    overflow: hidden;
}

// 圖片背景
@mixin bg-img($img, $x: 50%, $y: 50%, $bgSize: cover) {
    background-image: url($img);
    background-position: $x $y;
    background-repeat: no-repeat;
    background-size: $bgSize;
}

// 限制圖片比例
@mixin bg-rwd-img($img, $w, $h) {
    @include over-hidden($w,$h);
    @include bg-img($img);
}

// 尺寸
@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}


/*-------------------------------------------------------------------
	Table
-------------------------------------------------------------------*/
// table 轉型
@mixin customTableTransform($headerWitdh, $gap) {
    .custom-table {
        thead {
            display: none;
        }

        tr {
            display: block;

            &:not(:last-child) {
                margin-bottom: #{$gap}px;
            }
        }

        td {
            display: flex;
            padding: 0;
            border: none;

            &::before {
                content: attr(data-title);
                min-width: #{$headerWitdh}px;
                padding: 20px 10px;
                border: 1px solid rgba($color-primary, .2);
                background: $color-primary;
                color: #fff;
            }

            &:not(:last-child) {
                &::before {
                    border-bottom-color: #fff;
                }

                .table-btn-group, .table-inner-wrap {
                    border-bottom: none;
                }
            }
        }

        .table-btn-group, .table-inner-wrap {
            min-width: calc(100% - #{$headerWitdh}px);
            padding: 20px 15px;
            border: 1px solid rgba($color-primary, .2);
            text-align: left;
        }

        .table-inner-wrap {
            display: block;
        }
    }
}


/*-------------------------------------------------------------------
	專案
-------------------------------------------------------------------*/
@mixin loading-light{
    display: block;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 1;
    animation: mixin-loading-light 1.5s infinite;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    transform: translateX(-100%);

	@keyframes mixin-loading-light {
		to {
			transform: translateX(100%)
		}
	}
}


@mixin simplebar-muki-theme{
	.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
        background: $color-yellow2;
        left: 3px;
        right: 3px;
		opacity: 0.7;
    }
}

@mixin img-scale-stone-like{
	transition: $transition-stone-like;
	backface-visibility: hidden;
	&:hover{
		transform: scale(1.05);
	}
}